{ "__comment": "I wonder if I put too much fact",
		"xwiki": {
			"cfg": {
				"environment.permanentDirectory" : "{{xwiki_context_env_permanentDirectory}}",
				"xwiki_authentication_encryptionKey" : "{{xwiki_encryption_key}}",
				"xwiki_authentication_validationKey" : "{{xwiki_validation_key}}",
				"xwiki_superadminpassword" : "{{xwiki_super_admin_password}}",
				"xwiki_store_cache.capacity" : "1000";
				"xwiki_store_attachment_hint" : "file";
				"xwiki_store_attachment_versioning.hint" : "file";
				"xwiki_store_attachment_recyclebin.hint" : "file"
			}
		}
}
